.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.title-news {
  margin-top: 0;
  margin-bottom: 40px;
  width: 100%;
}
.title-news h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 150%;
  text-align: center;
  color: #2f54ad;
}
.title-news p {
  margin-left: 32%;
  margin-right: 32%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #666;
}
h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #282828;
  margin-top: 0;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 75px;
}
a h4:hover {
  color: #337ab7;
}
a {
  color: #2d55af;
  text-decoration: none;
}
p {
  font-family: "Roboto", sans-serif;
  font-style: 18px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  
  margin-top: 25px;
  margin-left: 20px;
  color: #666;
}
.column {
  margin: 15px 15px 0;
  padding: 0;
}
.column:last-child {
  padding-bottom: 60px;
}
.column::after {
  content: "";
  clear: both;
  display: block;
}
.column div {
  position: relative;
  float: left;
  width: 300px;
  height: 200px;
  margin: 0 0 0 25px;
  padding: 0;
}
.column div:first-child {
  margin-left: 0;
}
.column div span {
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: -1;
  display: block;
  width: 300px;
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0;
}
figure {
  width: 300px;
  height: 200px;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
figure:hover + span {
  bottom: -36px;
  opacity: 1;
}

/* Zoom In #1 */
.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover01 figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/* Zoom In #2 */
.hover02 figure img {
  width: 300px;
  height: auto;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover02 figure:hover img {
  width: 350px;
}

/* Zoom Out #1 */
.hover03 figure img {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover03 figure:hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.btn-view-more {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #1565d8;
  margin-left: 20px;
  width: 100%;
  float: left;
  padding-bottom: 25px;
}

/* visited link */
a:visited {
  color: blueviolet;
}

/* mouse over link */
a:hover {
  color: orange;
}
.btn-xem-them {
  display: block;
  text-align: center;
}
button {
  outline: 0;
  border-style: solid;
  margin-top: 40px;
  width: 160px;
  height: 48px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  border-color: #ff6900;
  background-color: inherit;
  text-align: center;
  border-radius: 8px;
  color: #ff6900;
}
button:hover {
  background-color: #ff6900;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}
