<div class="container" style="margin-bottom: 150px;">
  <div class="title-news">
    <h2>Tin tức - Sự kiện</h2>
    <p>
      Cập nhập thông tin mới nhất về quản lý hiệu quả công việc và đo lường hiệu
      suất
    </p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="hover01 column">
          <div>
            <figure>
              <img
                src="https://steamuserimages-a.akamaihd.net/ugc/487892961316839693/9FF1EBD7F8FA9C824E36ED7B497D5CA9DBD783FC/"
              />
            </figure>
          </div>
        </div>
        <p>01/01/2020</p>
        <a href="#">
          <h4>
            Điểm lại một số lỗi nếu doanh nghiệp bạn vận hành OKRs chưa hiệu quả
          </h4>
        </a>
        <a class="btn-view-more" href="#">
          Xem thêm
        </a>
      </div>

      <div class="col-sm-4">
        <div class="hover01 column">
          <div>
            <figure>
              <img
                src="https://steamuserimages-a.akamaihd.net/ugc/487892961316839693/9FF1EBD7F8FA9C824E36ED7B497D5CA9DBD783FC/"
              />
            </figure>
          </div>
        </div>
        <p>01/01/2020</p>
        <a href="#">
          <h4>
            Điểm lại một số lỗi nếu doanh nghiệp bạn vận hành OKRs chưa hiệu quả
          </h4>
        </a>
        <a class="btn-view-more" href="#">
          Xem thêm
        </a>
      </div>

      <div class="col-sm-4">
        <div class="hover01 column">
          <div>
            <figure>
              <img
                src="https://steamuserimages-a.akamaihd.net/ugc/487892961316839693/9FF1EBD7F8FA9C824E36ED7B497D5CA9DBD783FC/"
              />
            </figure>
          </div>
        </div>
        <p>01/01/2020</p>
        <a href="#">
          <h4>
            Điểm lại một số lỗi nếu doanh nghiệp bạn vận hành OKRs chưa hiệu quả
          </h4>
        </a>
        <a class="btn-view-more" href="#">
          Xem thêm
        </a>
      </div>
    </div>
    
  </div>
  <div class="btn-xem-them">
      <div col-sm-12>
          <button title="Xem thêm">Xem thêm </button>
      </div>
    </div>
</div>
