.section-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 50px;
  text-align: center;
}
.latest-product .owl-nav {
  position: absolute;
  right: 0;
  top: 0;
}
.single-product h2 {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
  margin-top: 15px;
  font-weight: unset;
}
.single-product h2 a {
  color: #222;
}
.single-product p {
  color: #5a88ca;
  font-weight: 700;
}

.single-product {
  overflow: hidden;
}
.single-product:hover {
}
.single-product:hover .product-hover a.add-to-cart-link {
  top: 32%;
}
.single-product:hover .product-hover a.view-details-link {
  bottom: 32%;
}
.single-product:hover .product-hover:after {
  left: 0;
}
