<body>
  <div>
    <div class="login-box">
      <img id="img" src="../../../../assets/img/logo.png" />
      <br />
      <h1>Sign in to Utosa</h1>
      <form>
        <!-- USERNAME INPUT -->
        <label for="username">Username or email address</label>
        <input type="text" placeholder="Enter Username" />
        <!-- PASSWORD INPUT -->
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password" />
        <input type="submit" value="Log In" />
        
      </form>
    </div>
  </div>
</body>
