.block-slider .caption-group {
  position: absolute;
  top: 26%;
  right: 66%;
}
.block-slider .caption-group .title {
  margin: 0;
}
.block-slider .caption-group .subtitle {
  margin: 0;
  margin-top: 5px;
}
.block-slider .caption-group .button-radius {
  margin-top: 27px;
}
.block-slider .caption-group .primary {
  color: #1bd172;
}

.btn-xem-them {
  display: block;
  text-align: center;
}
button {
  outline: 0;
  border-style: solid;
  margin-top: 40px;
  width: 160px;
  height: 48px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  border-color: #ff6900;
  background-color: inherit;
  text-align: center;
  border-radius: 8px;
  color: #ff6900;
}
button:hover {
  background-color: #ff6900;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}
.reward_menu {
  background: #ea8025;
  color: #fff;
  margin-left: 7.6%;
  margin-right: 7.6%;
}
h1{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 0;
    display: block;
    text-decoration: none;
    color: #191919;
   
    transition: .5s;
}
