<div class="slider-area">
  <!-- Slider -->
  <div class="block-slider block-slider4">
    <ul class="" id="bxslider-home4">
      <li>
        <img
          src="//file.hstatic.net/1000075078/file/bannera_1920x768-01_2ff56aa17382400c990f52191f208ec8_master.png"
          alt="Slide"
        />
        <div class="caption-group">
          <h1 class="caption title">
            THĂNG HẠNG DỄ DÀNG
            <br />
            ĐẶC QUYỀN THƯỢNG HẠNG
          </h1>
          <h4 class="caption subtitle">
            Chỉ với 3 bước để tích BEAN đổi quà
            <br />
            và nhận vô vàn ưu đãi hấp dẫn từ The Coffee House
          </h4>
          <div class="btn-xem-them">
            <div col-sm-12>
              <button title="Xem thêm">Xem thêm</button>
            </div>
          </div>
        </div>
      </li>

      <li>
        <img
          src="//file.hstatic.net/1000075078/file/banner-tch-p1_1920x768_69cb2380e7eb46efbc71cb1cb47d6ecd_master.jpg"
          alt="Slide"
        />
      </li>
    </ul>
  </div>
</div>

<!-- End slider area -->

<div class="reward_menu">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h1 style="text-align: center;">giới thiệu</h1>
      </div>
      <div class="col-sm-3">
        <h1 style="text-align: center;">Quyền lợi thành viên</h1>
      </div>
      <div class="col-sm-3">
        <h1 style="text-align: center;">Tích điểm thành viên</h1>
      </div>
      <div class="col-sm-3">
        <h1 style="text-align: center;">Tham gia</h1>
      </div>
    </div>
  </div>
</div>
