<div class="header-area">
  <div class="container">
    <div class="row">
      <div class="col-md-8"></div>

      <div class="col-md-4">
        <div class="header-right">
          <div class="user-menu">
            <ul>
              <li>
                <a (click)="DialogLogin()" style="cursor: pointer"
                  ><i class="fa fa-user"></i> login</a
                >
              </li>

              <li>
                <a style="cursor: pointer"><i class="fa fa-user"></i> Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
