<body>
  <div>
    <div class="login-box">
      <img id="img" src="../../../../assets/img/logo.png" />
      <br />
      <h1>Sign up to Utosa</h1>
      <form>
        <!-- USERNAME INPUT -->
        <label for="username">Họ và tên</label>
        <input type="text" />
        <!-- Email  input-->
        <label for="username">Email</label>
        <input type="text" />
        <!-- PASSWORD INPUT -->
        <label for="password">Password</label>
        <input type="password" />
        <!-- Confirm password -->
        <label for="password">Confirm Password</label>
        <input type="password" />
        <label for="username">Địa chỉ</label>
        <input type="text" />
        <label for="username">Số điện thoại</label>
        <input type="text" />
        <input type="submit" value="Sign Up" />
      </form>
    </div>
  </div>
</body>
